body {
    font-family:Arial, sans-serif;
    margin:0;
    padding:0;
background: url("img/finalpic.jpg" )no-repeat center center fixed ;
background-size: cover;
    color: #333;
}

header {
    backdrop-filter: blur(10px) saturate(150%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(225, 230, 222, 0.68);
    border-radius: 12px;
    border: 1px solid rgba(116, 134, 160, 0.3);
    color: black;
    padding: 1rem;
    text-align: center;
}

header .logo {
    position: absolute;
    top: 5%;
    left: 15px;
    width: 80px; /* Adjust size as needed */
    height:auto;
    margin-top: 50px;
    border-radius: 150px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 0.5rem;
    width: 60%;
    margin-right: 0.5rem;
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 60px;
    background-color: #4caf50;
    color: rgb(13, 11, 11);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease,transform 0.3s ease; }
button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}
button:active {
    background-color: #3e8e41;
    transform: scale(0.95); 
}
button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

main {
    padding: 1rem;
}

#recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.recipe {
    background: rgb(252, 240, 222);
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 1rem;
    width: calc(33% - 6rem);
    padding: 1rem;
    text-align: center;
    height: 100%;
}

.recipe img {
    max-width: 100%;
    border-radius: 5px;
}

.recipe h2 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.recipe p {
    font-size: 0.9rem;
    color: #555;
}
.ingredients {
    text-align: left;
    margin-top: 1rem;
}

.comments-section {
  margin-top: 20px;
}

.comments-section h3 {
    margin-bottom: 0.5rem;
}

.comment-box {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
}

.star-rating {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.star {
    font-size: 20px;
    color: #ccc;
    cursor: pointer;
    margin-right: 10px;
}

.star.checked {
    color: #ff6347;
}
/* Modal styles */

.modal{
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
}

.modal-content .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-content .close:hover,
.modal-content .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


#signupBtn {
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
}

.closeBtn {
    color: #c02626;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeBtn:hover,
.closeBtn:focus {
    color: rgb(236, 106, 106);
    text-decoration: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top:8px;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
}

.navbar {
    background-color: #e15412;
    overflow: hidden;
}
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #eae0e0;
    color: rgb(2, 2, 2);
}
.navbar .login {
    float: right;
    background-color: #17d71d;
}
.navbar .login:hover {
    background-color: #45a049;
}
.content {
    padding: 20px;
}
.logo {

    margin-top: 35px;
    margin-left: 15px;
}
.pg-footer {
    font-family: 'Roboto', sans-serif;
    margin-top: 500px;
    margin-bottom: 0%;
  }
  
  
  .footer {
      background-color: #004658;
      color: #fff;
      height: 350px;
  }
  .footer-wave-svg {
      background-color: transparent;
      display: block;
      height: 100px;
      position: relative;
      top: -1px;
      width: 100%;
  }
  .footer-wave-path {
      fill: #fffff2;
  }
  
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      height: 0px;
      padding: 40px 15px 270px;
      position: relative;
  }
  
  .footer-content-column {
      box-sizing: border-box;
      float: left;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      color: #fff;
  }
  
  .footer-content-column ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-logo-link {
      display: inline-block;
  }
  .footer-menu {
      margin-top: 30px;
  }
  
  .footer-menu-name {
      color: #fffff2;
      font-size: 15px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer-menu-list {
      list-style: none;
      margin-bottom: 0;
      margin-top: 10px;
      padding-left: 0;
  }
  .footer-menu-list li {
      margin-top: 5px;
  }
  
  .footer-call-to-action-description {
      color: #fffff2;
      margin-top: 10px;
      margin-bottom: 20px;
  }
  .footer-call-to-action-button:hover {
      background-color: #fffff2;
      color: #00bef0;
  }
  .button:last-of-type {
      margin-right: 0;
  }
  .footer-call-to-action-button {
      background-color: #027b9a;
      border-radius: 21px;
      color: #fffff2;
      display: inline-block;
      font-size: 11px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      padding: 12px 30px;
      margin: 0 10px 10px 0;
      text-decoration: none;
      text-transform: uppercase;
      transition: background-color .2s;
      cursor: pointer;
      position: relative;
  }
  .footer-call-to-action {
      margin-top: 30px;
  }
  .footer-call-to-action-title {
      color: #fffff2;
      font-size: 14px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer-call-to-action-link-wrapper {
      margin-bottom: 0;
      margin-top: 10px;
      color: #fff;
      text-decoration: none;
  }
  .footer-call-to-action-link-wrapper a {
      color: #fff;
      text-decoration: none;
  }
  
  
  /* Media Query For different screens */
  @media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
  
  }
  @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
  
  }
  @media (min-width:1281px) { /* hi-res laptops and desktops */
  
  }
  
  
  
  
  @media (min-width: 760px) {
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 280px;
        position: relative;
    
    }
  
    .footer-wave-svg {
        height: 50px;
    }
  
    .footer-content-column {
        width: 24.99%;
    }
  }
  @media (min-width: 568px) {
    /* .footer-content-column {
        width: 49.99%;
    } */
  }
